.is-btn {
    &:hover {
        color: $secondary !important;
        transition: 75ms;
        border: solid 1px $secondary !important;
        border-bottom: solid 4px $secondary !important;
        border-left: solid 4px $secondary !important;
        background-color: $dark !important;

        a {
            color: $secondary !important;
        }
    }

    &:active,
    &:focus {
        box-shadow: 0 0 0 0.25rem rgba($secondary, 0.5) !important;
    }
}

.is-login {
    &:hover {
        color: $primary !important;
    }
}

.is-sticker {
    border: 2px solid black !important;
    padding: 1rem;
}
