// Body
$body-bg: #f8fafc;

// Typography
$font-family-sans-serif: 'Nunito', sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

// Overridden
// $primary: #a5a6f6;
$primary: #bfbfbf;
// $secondary: #ceffd6;
$secondary: #f56542;
// $input-group-addon-bg: #a5a6f6 !important;
